
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>takeInput</title>
</head>
<body>
    <div><h2>Word Search API Consumer APP</h2></div>

    <div> 
        <div>
            <form action="takeInput" method="post">
                Enter A Sentence  <input type="text" name="sent" /><br /><br /><br />
               
                    Enter Search Key: <input type="text" name="srk" /><br />

                    <input type="submit" name="search" value="Search" /><br /><br />
</form>
            
        </div>
    </div>
</body>
</html>
